<section data-bs-version="5.1" class="footer4 cid-u1XZRcHuLm" once="footers" id="footer04-3">





    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-4">
                    © Copyright 2024 Words Academy - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>

<script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/smoothscroll/smooth-scroll.js"></script>
<script src="/assets/ytplayer/index.js"></script>
<script src="/assets/dropdown/js/navbar-dropdown.js"></script>
<script src="/assets/theme/js/script.js"></script>
<script src="/assets/datatables/vanilla-dataTables.min.js"></script>


</body>

</html>